flowvarapp/target/classes/flowvarapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="5668" doc:name="HTTP Listener Configuration"/>
    <flow name="flowvarappFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flowvar" doc:name="HTTP"/>
        <set-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code]" doc:name="Variable"/>
        <set-payload value="#[flowVars.code]" doc:name="Set Payload"/>
        <flow-ref name="flowvarappSub_Flow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="flowvarappSub_Flow">
        <set-payload value="#[flowVars.code]" doc:name="Set Payload"/>
        <flow-ref name="flowvarappSub_Flow1" doc:name="Flow Reference"/>
    </sub-flow>
    <sub-flow name="flowvarappSub_Flow1">
        <set-payload value="#[flowVars.code]" doc:name="Set Payload"/>
    </sub-flow>
</mule>
