sessionvar/src/main/app/sessionvar.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="5669" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="5670" doc:name="HTTP Listener Configuration"/>
    <flow name="sessionvarFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sessionvar" doc:name="HTTP"/>
        <set-session-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code]" doc:name="Session Variable"/>
        <logger message="code value is #[sessionVars.code]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="d" doc:name="VM"/>
    </flow>
    <flow name="sessionvarFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="d" doc:name="VM"/>
        <logger message="second flow #[sessionVars.code]" level="INFO" doc:name="Logger"/>
        <flow-ref name="sessionvarFlow2" doc:name="Flow Reference"/>
    </flow>
    <flow name="sessionvarFlow2">
        <logger message="third flow var #[sessionVars.code]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
